<h1>My Contact Book</h1>
<h2>First Name: <%= @contact_1.first_name %></h2>
<h2>Last Name: <%= @contact_1.last_name %></h2>
<h2>E-mail: <%= @contact_1.email %></h2>
<h2>Phone#: <%= @contact_1.phone_number %></h2>
<br>
<h2>First Name: <%= @contact_2.first_name %></h2>
<h2>Last Name: <%= @contact_2.last_name %></h2>
<h2>E-mail: <%= @contact_2.email %></h2>
<h2>Phone#: <%= @contact_2.phone_number %></h2>
<br/>
<h2>First Name: <%= @contact_3.first_name %></h2>
<h2>Last Name: <%= @contact_3.last_name %></h2>
<h2>E-mail: <%= @contact_3.email %></h2>
<h2>Phone#: <%= @contact_3.phone_number %></h2>
<br>
<h2>First Name: <%= @contact_4.first_name %></h2>
<h2>Last Name: <%= @contact_4.last_name %></h2>
<h2>E-mail: <%= @contact_4.email %></h2>
<h2>Phone#: <%= @contact_4.phone_number %></h2>
