<h1>Contact Info</h1>
<h5> Updated On: <%= @contact.friendly_update_at%> </h5>

<h2>First Name: <%= @contact.first_name %></h2>
<h2>Middle Name: <%= @contact.middle_name  %></h2>
<h2>Last Name: <%= @contact.last_name %></h2>
<h2>Email: <%= @contact.email%> </h2>
<h2>Phone Number: <%= @contact.phone_number%> </h2>
<h2>Bio: <%= @contact.bio  %></h2>

<a href="/all_contacts/<%= @contact.id %>/edit" class="btn btn-warning">Edit Contact</a>
<a href="/all_contacts/<%= @contact.id %>" data-method="delete">Delete Contact</a>
